.widget {
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent dark background */
  width: 33%;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  transition: transform 0.2s ease;
  backdrop-filter: blur(5px);
  display: flex; /* Make it a flex container for modern layout */
  flex-direction: column; /* Stack child elements vertically */
  /* align-items: ; Aign child elements to the start */
}

.widget:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 188, 235, 0.5); /* Updated box shadow with color and transparency */

}

header {
  display: flex;
  flex-direction: row;
}

.widget h2 {
  font-size: 1.5em;
  color: #00BCEB;
  text-align: left;
  margin-top: 0;
  padding-bottom: 10px; /* Add spacing below the title */
}

.widget h2:hover {
  color: #FFD700; /* Gold accent color on hover */
}

.widget p {
  font-size: 1.6em;
  color: #fff; /* White text */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background for contrast */
  border-radius: 5px;
  padding: 10px; /* Increase padding for better readability */
  margin: 10px 0; /* Add spacing between paragraphs */
}

.widget p:hover {
  background: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}

.status-symbol {
  width: 20px; /* Adjust the width to make it a circle */
  height: 20px; /* Adjust the height to make it a circle */
  border-radius: 50%; /* Make it a circle */
  margin-right: 10px; /* Add space between the status symbol and the heading */
}

/* Green status symbol */
.status-symbol-green {
  width: 20px;
  height: 20px;
  background: rgba(0, 255, 0, 0.7); /* Green background for the status symbol */
}

/* Red status symbol */
.status-symbol-red {
  width: 20px;
  height: 20px;
  background: rgba(255, 0, 0, 0.7); /* Red background for the status symbol */
}