body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace; 
/* dark */
  background-image: url("https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149020364.jpg?w=1480&t=st=1698328214~exp=1698328814~hmac=a859c9787f90bfbadac3c1ceb599dc1dec4524315de46fd7aa4c1c2da24646c6"); 

  /* light
  background-image: url("https://img.freepik.com/premium-vector/light-blue-circuit-board-chip-technology-background_88343-3396.jpg?w=2000"); */
  background-repeat: no-repeat;
  background-size: cover;

  color: #00bceb; /* Bright blue text */

  height: 100vh;
}
